{% extends 'bootstrap.html.twig' %}

{% block body %}
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://i1.wp.com/www.formcorporate.com/wp-content/uploads/2017/08/seo-896175_960_720.png?fit=960%2C504&ssl=1" alt="Card image cap">
        <div class="card-body">
            {% for item in ad %}
                {{ item|raw }}
            {% endfor %}
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
{% endblock %}